@import '../../assests/globalStyles/mixins.scss';
@import '../../assests/globalStyles/variables.scss';

.side-navigation-wrapper {
  background-color: $primary-color;
  height: calc(100vh - 70px);
  left: 0;
  overflow-y: auto;
  padding: $small 0 $medium;
  position: sticky;
  text-align: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  top: 0;

  >div>div {
    color: $third-color;
    text-align: center;
    text-transform: uppercase;
    padding: $small 0;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;

    i {
      display: block;
      // margin-bottom: 10px;
      @include paddingMargin(margin, bottom, 10px);
      font-size: 30px;
    }

    &.active {
      color: $white;
      background-color: $hlighted-color;
    }
  }

  @media screen and (max-width: $tablet-break-point) {
    flex-direction: row;
    width: calc(100% - 20px);
    align-items: center;
    // padding: 10px;
    @include paddingMargin(padding, all, 10px);
    height: auto;
    z-index: 3;

    >div {
      display: grid;
      grid-template-columns: auto auto;
      width: 65%;

      >div {
        // padding: 10px;
        @include paddingMargin(padding, all, 10px);
      }
    }
  }
}