 $primary-color: #2A58AD;
 $hlighted-color: #1D4C9E;
 $secondary-color: #EAEEF1;
 $third-color: #D9E2E7;
 $primary-text-color: #23A9E8;
 $secondary-text-color: #777;
 $success: #67B930;
 $danger: #FE706F;
 $white: #fff;
 $xxsmall : 5px;
 $xsmall : 15px;
 $small : 20px;
 $medium : 50px;
 $tablet-break-point : 768px;