@import '../../assests/globalStyles/mixins.scss';
@import '../../assests/globalStyles/variables.scss';

.header-wrapper {
  background: $white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: $small 3% 0;

  i {
    color: $third-color;
    cursor: pointer;
  }

  a {
    color: $secondary-text-color;
    display: inline-block;
    // margin-right: $small;
    @include paddingMargin(margin, right, $small);
    // padding-bottom: $small;
    @include paddingMargin(padding, bottom, $small);
    text-decoration: none;
    font-weight: bold;

    &.active {
      border-bottom: 2px solid $primary-text-color;
      color: $primary-text-color;
    }
  }

  .header-extras>span {
    margin: 0 $small;
    position: relative;

    sup {
      background: $primary-text-color;
      color: $white;
      border-radius: 50%;
      // padding: 2px;
      @include paddingMargin(padding, all, 2px);
      font-size: 7px;
      position: absolute;
      top: -5px;
      left: 7px;
      width: 7px;
      height: 7px;
      text-align: center;
    }
  }

  @media screen and (max-width: $tablet-break-point) {
    flex-direction: column;
    padding: $medium $small;
    text-align: right;
    position: absolute;
    width: calc(100% - 40px);
    z-index: 3;
    height: calc(100% - 175px);
    justify-content: start;
    right: -100%;
    transition: all .5s ease;

    &.show-nav {
      right: 0;
    }

    .navigation {
      display: flex;
      flex-direction: column;
      padding: $small 0;

      a {
        margin: 0 0 10px;
      }
    }
  }
}