@import '../../assests/globalStyles/mixins.scss';
@import '../../assests/globalStyles/variables.scss';

.userinfo-wrapper {

  * {
    color: $white;
    display: block;
  }

  i {
    font-size: 80px;
    // margin-bottom: $xsmall;
    @include paddingMargin(margin, bottom, $xxsmall);
  }

  div {
    padding: $small $medium;
  }

  button {
    background: transparent;
    border: 1px solid $primary-text-color;
    border-radius: $small;
    margin: $xsmall auto;
    padding: $xxsmall $xsmall;
  }

  .role {
    color: $primary-text-color;
    // margin-top: $xxsmall;
    @include paddingMargin(margin, top, $xxsmall);
  }

  @media screen and (max-width: $tablet-break-point) {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    i {
      font-size: 35px;
      margin-bottom: $xsmall;
      @include paddingMargin(margin, bottom, $xsmall);
      float: left;
    }

    button {
      padding: $xxsmall 10px;
      margin: $xxsmall 0;
    }
  }
}