.userinfo-wrapper {

  * {
    color: var(--white);
    display: block;
  }

  i {
    font-size: 80px;
    margin-bottom: 15px;
  }

  div {
    padding: 20px 50px;
  }

  button {
    background: transparent;
    border: 1px solid var(--primary-text-color);
    border-radius: 20px;
    margin: 15px auto;
    padding: 5px 15px;
  }

  .role {
    color: var(--primary-text-color);
    margin-top: 5px;
  }

  @media screen and (max-width:768px) {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    i {
      font-size: 35px;
      margin-bottom: 15px;
      float: left;
    }

    button {
      padding: 5px 10px;
      margin: 5px 0;
    }
  }
}