:root {
  --primary-color: #2A58AD;
  --hlighted-color: #1D4C9E;
  --secondary-color: #EAEEF1;
  --third-color: #D9E2E7;
  --primary-text-color: #23A9E8;
  --secondary-text-color: #777;
  --success: #67B930;
  --danger: #FE706F;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: normal;
  font-family: '-apple-system, BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'sans-serif';
}

.app {
  display: flex;

  @media screen and (max-width:768px) {
    flex-direction: column;
  }
}