@import '../../assests/globalStyles/mixins.scss';
@import '../../assests/globalStyles/variables.scss';

.jobs-listing-wrapper {
  overflow: hidden;
  width: 80%;

  .navlines {
    display: none;
  }

  .jobs-listing-container {
    background-color: $secondary-color;
    min-height: calc(100vh - 1 $small);
    list-style: none;
    padding: 30px 3%;
    overflow-y: auto;

    .title {
      font-size: $small;
    }

    .add-new {
      color: $white;
      background-color: $success;
      border: 0;
      padding: $xxsmall $xsmall;
      float: right;
      border-radius: $small;
    }

    ul {
      background-color: $white;
      box-shadow: 0 2px 4px 0 hsla(0, 0%, 85%, .5);
      clear: both;
      // margin-top: $small;
      @include paddingMargin(margin, top, $small);

      .table-title {
        background-color: $third-color;
        padding: 10px 5%;

        .job-title,
        span {
          color: $secondary-text-color;
        }
      }

      li {
        display: grid;
        justify-content: space-between;
        padding: $small 5%;
        border-bottom: 1px solid $third-color;
        align-items: center;
        transition: all 0.3s ease-in-out;
        grid-template-columns: 200px 90px 150px 130px 60px;

        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          box-shadow: 0 0px 3px 3px hsla(0, 0%, 85%, .5);
          cursor: pointer;
        }

        .job-title {
          color: $primary-text-color;
          width: 12.5vw;

          .job-role {
            display: block;
            // margin-top: 3px;
            @include paddingMargin(margin, top, 3px);
            color: $secondary-text-color;
          }
        }

        .status {
          width: 9vw;
          max-width: 56px;
          border: 1px solid $third-color;
          border-radius: $small;
          padding: $xxsmall $xsmall;
          text-transform: capitalize;

          i {
            font-size: 10px;
            margin-right: $xxsmall;
            @include paddingMargin(margin, right, $xxsmall);
          }

          &.active i {
            color: $success;
          }

          &.draft i {
            color: $danger;
          }
        }

        .posted,
        .applicants {
          width: 11vw;
          max-width: 110px;
        }

        .applicants {
          span {
            color: $primary-text-color;
          }

          i {
            // margin-right: $xxsmall;
            @include paddingMargin(margin, right, $xxsmall);
          }
        }

        &:hover .options .options-subset {
          display: block;
        }

        .options {
          position: relative;
          text-align: center;

          .options-subset {
            text-align: left;
            display: none;
            position: absolute;
            width: 85px;
            background: $white;
            padding: $xsmall 25px;
            left: 50%;
            transform: translate(-50%, 0px);
            box-shadow: 0 0px 3px 3px hsla(0, 0%, 85%, .5);
            top: 25px;
            z-index: 2;

            &:before {
              content: '';
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0px);
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid $white;
              top: -10px;
            }

            span {
              display: block;
              color: $secondary-text-color;

              i {
                color: $primary-text-color;
                margin: 0 $xxsmall 10px 0;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $tablet-break-point) {
    width: 100%;
    position: relative;

    .jobs-listing-container {
      padding: 10px 3%;

      .add-new {
        // margin-left: 30px;
        @include paddingMargin(margin, left, 30px);
        float: none;
      }

      ul li {
        display: flex;

        &.table-title .status {
          font-size: inherit;
        }

        span {
          word-break: break-word;
        }

        .status {
          width: auto;
          border: 0;
          font-size: 0;
          // padding: 0;
          @include paddingMargin(padding, all, 0);
        }

        .options .options-subset {
          right: -25px;
          left: auto;
          transform: none;
        }
      }
    }

    .navlines {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      z-index: 4;
      margin: 10px 0;
      cursor: pointer;
      transition: all 0.4s ease 0s;
      right: 10px;

      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $primary-color;
        border-radius: 9px;
        right: 0;
        transition: all .5s ease;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 10px;
          width: 18px;
        }

        &:nth-child(3) {
          top: $small;
        }
      }

      &.show-nav span {
        height: 2px;

        &:first-child {
          transform: rotate(45deg);
          top: 50%;
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 50%;
        }
      }
    }
  }
}